.git/
.idea/
__pycache__/
.pytest_cache/
.streamlit/
.snakemake/
*.sif
*.def
pyproject.toml
.gitignore
data/annovar/humandb/dbs/*.log
data/annovar/humandb/dbs/*.txt
data/annovar/humandb/dbs/*.idx
data/annovar/humandb/dbs/*.fa
data/genome/*.fa
data/genome/*.fai

